.collection-item {
    display: flex;
    justify-content: space-between;
}

.material-icons {
    cursor: pointer;
    margin-right: 5px;
}

.vote-box {
    display: flex;
    align-items: center;
}

.fade-enter {
    right: 100px;
}

.fade-enter.fade-enter-active {
    right: 0;
    transition: 500ms ease-in all;
}

.fade-leave {
    right: -100px;
}

.fade-leave.fade-leave-active {
    right: 0;
    transition: 500ms ease-out all;
}

.fade-appear {
    opacity: 0.01;
    right: 100px;
}

.fade-appear.fade-appear-active {
    right: 0;
    opacity: 1;
    transition: opacity .5s ease-in;
}


.btn-floating.btn-large.red.right:hover {
    transform: scale(1.5);
}

.delete-artist-button:hover {
    transform: scale(1.5);
}

.vote-box:hover {
    transform: scale(1.5);
}

.coocloud-logo {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}